@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

/*home page starts here*/

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #171717;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 27px;
    color:rgb(240,255,240) ;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
}
.logo:hover{
    color: rgb(183, 255, 0);
}

.navbar a{
    font-size: 18px;
    font-weight: bolder;
    color:rgb(240,255,240) ;
    text-decoration:none ;
    margin-left: 35px;
    font-weight: 500;
    transition: 0.3s;


}

.navbar a:hover{
    color: rgb(60, 215, 161);

}

.navbar .active{
    color: rgb(60, 215, 161);
    text-decoration: line-through;
    font-weight: bolder;
    font-size: larger;
}
.home{
    display: flex;
    background-image: url(asset/landing-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 24px;
    background-position-y:-35px ;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    
}

.home-content{
    max-width: 550px;
    color:rgb(240,255,240) ;
}

.home-content h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 70px;
    color:rgb(240,255,240) ;
}

h3 .name{
    font-size: 40px;
    color: aquamarine;
    transition: 3s;
}

.name:hover{
    color: rgb(183, 255, 0);
    }

.home-content h2{
    font-size: 25px;
    transition: 3s;
}

.home-content h2:hover{
    color: coral;
}

.home-content p{
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#date{
    margin-top: 10px;
    padding: 0;
    font-size: 13px;
}

#date b{
    margin: 0;
    padding: 0;
    color: aquamarine;
    transition: 2s;   
}
#date b:hover{
    color: coral;
}

.home-content .button-box{
    width: 300px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    margin: top 30px;px;
}
.button-box a{
    display: inline-flex;
    width: 140px;
    height: 100%;
    border: 2px solid aqua;
    font-size: 16px;
    text-decoration: none;
    color: #fffefe;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-weight: 600;
    letter-spacing: 1px;
    animation: forwards;
    transition: 0.3s;
}

.button-box a:hover{
    background-color: rgb(77, 227, 177);
}

.button-box a:nth-child(1){
    background: rgb(90, 242, 191);
    color: rgb(7, 92, 92);

}
.button-box a:nth-child(1):hover{
    background:#171717;
}

.home-hvr{
    position: absolute;
    top:0 ;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 4s;

}

.home-hvr:hover{
    background: #171717;
    opacity: .5;
}
/*home page ends here*/


/*about page starts here*/

.aboutt{
    display: flex;
    margin: 120px 10%;
    flex-direction: row;
    color:rgb(240,255,240) ;
}
.hero{
    display:flex;
    height: 500px;
}

.text{
    margin-top: 35px;
    justify-content: center;
    padding: 10px;
}

.text h3{
    font-size: 28px;
}

.locatio{
    color:rgb(240,255,240) ;
    transition: 3s;
}
.locatio:hover{
    color: aquamarine;
}


.location{
    color: aquamarine;
    transition: 3s;
}

.location:hover{
    color: coral;
}

.abt{
    font-size: 15px;
    margin-top: 20px;
    text-align: justify;
}

.txt{
    margin-top: 20px;

}
.a{
    color: aquamarine;
    transition: 3s;
}
.a:hover{
    color: coral;
}

.white-bx{
    margin-top: 20px;
    height: 168px;
    width: 100%;
    border-radius: 10px;
    background: rgb(143, 231, 208);
    transition: 5s;
}

.white-bx:hover{
    background: coral;
}

.home-hvrr{
    top: 700px;
    position: absolute;
    left: 100px;
    width: 420px;
    height: 100%;
    background: transparent;
    transition: 4s;

}

.home-hvrr:hover{
    background: #171717;
    opacity: .5;
}

/*about page ends here*/

/*work page starts here*/

.secthree{
    display: flexbox;
    flex-direction: column;
    margin: 120px 10%;
    color:rgb(240,255,240) ;
}

.selecte{
    font-size: x-large;
    padding-bottom: 10px;
}

.highlight{
    color: aquamarine;
    transition: 2s;
}
.highlight:hover{
    color: coral;
}

.boxes{
    display: block;
    width: 200px;
    height: 300px;
    margin-top: 25px;
    margin-right: 23px;
    margin-bottom: 15px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    align-items: last baseline;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    
    
}

.boxes a{
    display: inline-block;
    height: 300px;
    width:200px;
    background-color:rgb(245, 157, 124);;
    margin-bottom: 20px;
    text-decoration: none;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    color: #171717;
    padding: 20px;
    font-weight: 700;
    transition: 2s;
}

.boxes a:hover{
    background: rgb(31, 230, 153);
}

.boxes{
    display: block;
    width: 200px;
    height: 300px;
    margin-top: 25px;
    margin-right: 23px;
    margin-bottom: 15px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    align-items: last baseline;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    
    
}

.boxe a{
    display: inline-block;
    height: 300px;
    width:200px;
    background-color:rgb(201, 240, 24);;
    margin-bottom: 20px;
    margin-top: 5px;
    text-decoration: none;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    color: #171717;
    padding: 20px;
    font-weight: 700;
    transition: 2s;
}
.boxe a:hover{
    background: rgb(31, 230, 153);
}

.boxe{
   
    position: relative;
    top: -190px;
    width: 200px;
    height: 300px;
    margin-top: 25px;
    margin-left: 215px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px;
    
}

.box a{
    display: inline-block;
    height: 300px;
    width:200px;
    background-color:rgb(135, 236, 98);;
    margin-bottom: 20px;
    margin-top: 5px;
    text-decoration: none;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    color: #171717;
    padding: 20px;
    font-weight: 700;
    transition: 2s;
}
.box a:hover{
    background: rgb(31, 230, 153);
}

.box{
   
    position: relative;
    top: -600px;
    width: 200px;
    height: 300px;
    margin-top: 25px;
    margin-left: 430px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px;
    
}

.boz a{
    display: inline-block;
    height: 300px;
    width:200px;
    background-color:rgb(255, 104, 66);;
    margin-bottom: 20px;
    margin-top: 5px;
    text-decoration: none;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    color: #171717;
    padding: 20px;
    font-weight: 700;
    transition: 2s;
}

.boz a:hover{
    background: rgb(31, 230, 153);
}

.boz{
   
    position: relative;
    top: -890px;
    width: 200px;
    height: 300px;
    margin-top: 25px;
    margin-left: 646px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px;
    
}
.bozz a{
    display: inline-block;
    height: 300px;
    width:200px;
    background-color:rgb(98, 176, 236);;
    margin-bottom: 20px;
    margin-top: 5px;
    text-decoration: none;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    color: #171717;
    padding: 20px;
    font-weight: 700;
    transition: 2s;
}
.bozz a:hover{
    background: rgb(31, 230, 153);
}

.bozz{
   
    position: relative;
    top: -1300px;
    width: 200px;
    height: 300px;
    margin-top: 25px;
    margin-left: 863px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px;
    
}

/*work page ends here*/
