@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #171717;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color:rgb(240,255,240) ;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
}
.logo:hover{
    color: rgb(57, 195, 135);
}

.navbar a{
    font-size: 18px;
    color:rgb(240,255,240) ;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500;
    transition: 0.3s;


}

.navbar a:hover{
    color: rgb(60, 215, 161);

}

.navbar .active{
    color: rgb(60, 215, 161);
    text-decoration: line-through;
}
.home{
    display: flex;
    background-image: url(asset/landing-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 24px;
    background-position-y:-35px ;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    
}

.home-content{
    max-width: 550px;
    color:rgb(240,255,240) ;
}

.home-content h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 70px;
    color:rgb(240,255,240) ;
}

h3 .name{
    font-size: 40px;
    color: aquamarine;
}

.home-content h2{
    font-size: 25px;;
}
.home-content p{
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#date{
    margin-top: 10px;
    padding: 0;
    font-size: 13px;
}

#date b{
    margin: 0;
    padding: 0;
    color: aquamarine;
}

.home-content .button-box{
    width: 300px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    margin: top 30px;px;
}
.button-box a{
    display: inline-flex;
    width: 140px;
    height: 100%;
    border: 2px solid aqua;
    font-size: 16px;
    text-decoration: none;
    color: #171717;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-weight: 600;
    letter-spacing: 1px;
    animation: forwards;
    transition: 0.3s;
}

.button-box a:hover{
    background-color: rgb(77, 227, 177);
}

.button-box a:nth-child(1){
    background: rgb(90, 242, 191);
    color: rgb(7, 92, 92);

}
.button-box a:nth-child(1):hover{
    background: #171717;
}

.home-hvr{
    position: absolute;
    top:0 ;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 4s;

}

.home-hvr:hover{
    background: #171717;
    opacity: .5;
}